<br>
<form [formGroup]="loanDataForm" (ngSubmit)="save()">
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" class="form-control" formControlName="title">
            </div>
        </div>
        
        <div class="col-3">
            <div class="form-group">
                <label for="note">Note</label>
                <input type="text" id="note" class="form-control" formControlName="note">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="note">Date</label>
                <input type="date" id="date" class="form-control" formControlName="date">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="installment">Installment</label>
                <input type="number" id="installment" class="form-control" formControlName="installment">
            </div>
        </div>
    </div><br>
        <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="repay">Repay Date</label>
                <input type="date" id="repay" class="form-control" formControlName="repay">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="cost">Cost</label>
                <input type="number" id="cost" class="form-control" formControlName="cost">
            </div>
        </div>
        <div class="col-12">
            <div style="text-align: right;; margin-top: 20px;">
                <button [disabled]="disableButton ||loanDataForm.invalid" type="submit" color="primary" mat-raised-button>Save Loan Data</button>
            </div>
            <div *ngIf="isAddSuccess" class="success-message">
                Successfully Added Data!
              </div>
        </div>
    </div>
    </div>
</form>




